<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>WhaleStore</title>
  </head>
  <body>
    <div class="grid-container">
        <header class="row">
          <div>
            <a class="brand" href="index.html">WhaleStore</a>
          </div>
          <div>
            <a href="carrinho.html">Carrinho</a>
            <a href="login.html">Login</a>     
 </div>
</header>
<main>
  <div>
    <div class="row center">
      <div class="card">
        <a href="produto.html">
          <!-- image size: 680px by 830px -->
          <img class="medium" src="/Users/otald/OneDrive/Área%20de%20Trabalho/Lojinha/template/images/teclado.jpg" alt="produto" />
        </a>
        <div class="card-body">
          <a href="produto.html">
            <h2>Teclado Mecânico GK61</h2>
          </a>
          <div class="rating">
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
          </div>
          <div class="price">R$ 599,99</div>
        </div>
      </div>    
      <div class="card">
        <a href="produto.html">
          <!-- image size: 680px by 830px -->
          <img class="medium" src="/Users/otald/OneDrive/Área%20de%20Trabalho/Lojinha/template/images/mouse.png" alt="produto" />
        </a>
        <div class="card-body">
          <a href="produto.html">
            <h2>Mouse G Pro Wireless</h2>
          </a>
          <div class="rating">
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
          </div>
          <div class="price">R$ 899,90</div>
        </div>
      </div>    
      <div class="card">
        <a href="produto.html">
          <!-- image size: 680px by 830px -->
          <img class="medium" src="/Users/otald/OneDrive/Área%20de%20Trabalho/Lojinha/template/images/quadcast.jpg" alt="produto" />
        </a>
        <div class="card-body">
          <a href="produto.html">
            <h2>Microfone Gamer Hyperx Quadcast</h2>
          </a>
          <div class="rating">
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
          </div>
          <div class="price">R$ 999,90</div>
        </div>
      </div>    
      <div class="card">
        <a href="produto.html">
          <!-- image size: 680px by 830px -->
          <img class="medium" src="/Users/otald/OneDrive/Área%20de%20Trabalho/Lojinha/template/images/h7.jpg" alt="produto" />
        </a>
        <div class="card-body">
          <a href="produto.html">
            <h2>Headset HyperX Cloud II</h2>
          </a>
          <div class="rating">
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
          </div>
          <div class="price">R$ 799,90</div>
        </div>
      </div>    
      <div class="card">
        <a href="produto.html">
          <!-- image size: 680px by 830px -->
          <img class="medium" src="/Users/otald/OneDrive/Área%20de%20Trabalho/Lojinha/template/images/cadeira.jpg" alt="produto" />
        </a>
        <div class="card-body">
          <a href="produto.html">
            <h2>Cadeira Gamer Alpha</h2>
          </a>
          <div class="rating">
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
            <span> <i class="fa fa-star"></i> </span>
          </div>
          <div class="price">R$ 1230,70</div>
        </div>
      </div>  
    </div>
</div> 
</main>  
<footer class="row center">Todos os direitos reservados.</footer>
    </div>
</body>    
</html>